.business-container {
  width: 100%;
  align-items: center;
  max-height: 150px;
  overflow: hidden;
  display: flex;
  background-color: #c3f3fd;
}
.business-details {

  width: 50%;
  max-height: 200px;
  overflow: hidden;
}

.animate {
  overflow: visible;
}

.business-detail {
  padding-left: 80px;
  font-size: 15px;
  opacity: 0;
  animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 8px
}

.button-container {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .business-container {
    padding-top: 20px;
    padding-bottom: 80px;
    max-height: 150px;
  }

  .business-details {
    width: 100%;
    max-height: 150px;
  }

  .business-detail {
    padding-left: 40px;
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .business-container {
    padding-top: 25px;
    padding-bottom: 90px;
    max-height: 175px;
  }

  .business-details {
    width: 75%;
    max-height: 175px;
  }

  .business-detail {
    padding-left: 60px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1025px) {
  .business-container {
    padding-top: 30px;
    padding-bottom: 110px;
    max-height: 200px;
  }

  .business-details {
    width: 50%;
    max-height: 200px;
  }

  .business-detail {
    padding-left: 80px;
    font-size: 26px;
  }
}